<!DOCTYPE html>
<html class="h-full bg-gray-900">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Страница не найдена</title>
  </head>
<body class="h-full">

<main class="grid min-h-full place-items-center bg-gray-900 px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <p class="text-2xl font-semibold text-indigo-400">404</p>
    <h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance text-white sm:text-7xl">Страница не найдена</h1>
    <p class="mt-6 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8">Извините, мы не смогли найти страницу, которую вы ищете.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="/" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Вернуться на главную</a>
    </div>
  </div>
</main>

</body>
</html>